{% extends 'base.html' %}
{% load static %}
{% block title %}
  Physioland a propos
{% endblock title %}

{% block content %}

<!-- About Start -->
<div class="container-fluid" style="padding-right: 20px;">
   <div class="main d-flex">
    <div class="image about-img col-lg-7">
    
    </div>
      <div class="description col-lg-5 p-5">
        <div class="mb-4">
          <h3 class="d-inline-block text-primary text-uppercase border-bottom border-5">à propos</h3>
        </div>
        <h5 class="--bs-secondary-color" style="margin-top: 40px;">Notre vision</h5>
        <p>- Un centre dédié à votre santé et bien-être;
          - La rigueur, le professionnalisme et l’écoute sont les principales valeurs de nos kinésithérapeutes en vue de
          garantir le meilleur service aux patients;
          - L’expérience des praticiens associées aux équipements paramédicaux dernière génération vous garantie un
          traitement est une récupération optimale.
        </p>
        <h5 class="--bs-secondary-color" style="margin-top: 40px;">Notre démarche</h5>
        <p>A l’issue d’un examen clinique minutieux et d’un bilan diagnostique kinésithérapique ou nutritionnelle, la
          thérapeute établit un programme de soins en choisissant les actes et techniques les plus adaptées.
        </p>
        <h5 class="--bs-secondary-color" style="margin-top: 40px;">Notre champ d’opération</h5>
        <p> Nous opérons sur un vaste champ des troubles.
          Rééducation fonctionnelle, neurologie, traumatologie, rhumatologie, gériatrie, pédiatrie, kiné respiratoire,
          drainage
          lymphatique, uro-gynécologie, préparation à l’accouchement, kiné du sport et physiothérapie.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- About End -->


{% endblock %}