{% extends 'base.html' %}
{% load static %}
{% block title %}
  Physioland santé bien-être
{% endblock title %}

{% block content %}

    <!-- Services Start -->
    <div class="container-fluid" style="padding-right: 20px;">
      <div class="main d-flex">
        <div class="image SANTÉ-BIEN-ÊTRE-img col-lg-7">

        </div>
        <div class="description col-lg-5 p-5">
          <div class="">
            <div class="mb-4">
              <h3 class="d-inline-block text-primary text-uppercase border-bottom border-5">
                Sante bien-être :</h3>
            </div>
            <p>
              Un lieu confidentiel où bien-être et soin s’unissent pour des moments uniques sur Marrakech
            </p>
              <p>Amincissement:  Diagnostique nutritionnelle, Protocole d’amincissement: Massage amincissant, Lipocavitation, Palper-rouler, Radiofréquence, Les ondes de choc, Renforcement « Electro », Presso dynamique et reconditionnement
              </p>
              <p>
                L’objectif de cette cure est de permettre d’amorcer une perte de poids durable, mais aussi de mieux gérer les facteurs de risque en lien avec le surpoids grâce aux soins dispensés, à l’activité physique et aux conseils diététiques.
              </p>
              <p>
                Cette cure est proposée sur une durée de 1 semaine à 10 jours. Le nombre de séances est adapté aux besoins du patient. Une prise en charge à plus long terme peut également être proposée.
              </p>

              <!-- <div class="accordion">
                <div class="accordion-item">
                  <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title"> My first  Title Here</span><span class="icon" aria-hidden="true"></span></button>
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                  </div>
                </div>
                <div class="accordion-item">
                  <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">My second Title Here</span><span class="icon" aria-hidden="true"></span></button>
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                  </div>
                </div>
                <div class="accordion-item">
                  <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">My third Title Here</span><span class="icon" aria-hidden="true"></span></button>
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                  </div>
                </div>
                <div class="accordion-item">
                  <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">My fourth Title Here</span><span class="icon" aria-hidden="true"></span></button>
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                  </div>
                </div>
              </div> -->
            </div>
        </div>
      </div>
    </div>
  <!-- Services End -->



{% endblock %}