{% extends 'base.html' %}
{% load static %}
{% block title %}
Physioland Physiothérapie
{% endblock title %}
{% block content %}

<!-- Services Start -->
<div class="container-fluid" style="padding-right: 20px;">
  <div class="main d-flex">
    <div class="image physiotherapie-img col-lg-7">

    </div>
    <div class="description col-lg-5 p-5">
        <div class="">
          <div class="mb-4">
            <h3 class="d-inline-block text-primary text-uppercase border-bottom border-5">Kinesitherapie-physiotherapie :
            </h3>
          </div>
          <p>Que vous souffriez d’une douleur chronique ou d’une blessure, nos thérapeutes pourront vous aider par une solution personnalisée et efficace.
          </p>
          <p>
            Le centre Physioland de Marrakech compte deux physiothérapeutes passionnés qui a à cœur le bien-être de ses clients.
          </p>
          <p>
            Nos kinésithérapeutes dans le centre travaillent non seulement sur les troubles du mouvement ou de la motricité mais aussi sur les défaillances des capacités motrices. On est donc amené à prendre en charge de nombreuses pathologies 
          </p>
          


            <!-- <div class="accordion">
              <div class="accordion-item">
                <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">My first Title Here</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordion-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
              </div>
              <div class="accordion-item">
                <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">My second Title Here</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordion-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
              </div>
              <div class="accordion-item">
                <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">My third Title Here</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordion-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
              </div>
              <div class="accordion-item">
                <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">My fourth Title Here</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordion-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
              </div>
            </div> -->



        </div>
    </div>
  </div>
</div>


<!-- Services End -->

{% endblock %}